# Environment & secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log
logs/*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/
